<div class="container">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
      <a href="#">
        <img src="assets/images/llama-date-logo.png"
             class="logo" alt="Llama Date Logo"/>
      </a>

      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            {{ getWelcomingMessage('Guest') }}
          </li>
        </ul>

      </div>
    </nav>
  </header>
</div>
